# Ignore...
*
# ...but these files
!.gitignore

!*.yaml
!*.md
# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

!.storage/auth
!.storage/auth_provider.homeassistant
!.storage/cloud
!.storage/core.area_registry
!.storage/core.device_registry
!.storage/core.config
!.storage/core.entity_registry
!.storage/lovelace
!.storage/person

!automation/
!automation/*.yaml
!binary_sensor/
!binary_sensor/*.yaml
!climate/
!climate/*.yaml
!python_scripts/
!python_scripts/*.py
!sensor/
!sensor/*.yaml
